<div class="col-md-12 mt-3">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span>Administrar cuentas bancarias</span>
            <span class="toolbar-spacer"></span>
            <button (click)="reloadData()" aria-label="Refrescar info" mat-icon-button>
                <mat-icon>update</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
</div>

<div class="col-md-12">
    <ag-grid-angular #agGridItems
                     [gridOptions]="gridOptions"
                     [localeText]="localeText"
                     [singleClickEdit]="true"
                     [stopEditingWhenGridLosesFocus]="true"
                     [suppressRowClickSelection]="true"
                     class="ag-theme-balham"
                     rowHeight="30"
                     style="width: 100%; height: 100%"
                     [style.height]="gridHeight"
    >
    </ag-grid-angular>
</div>
<div class="row p-3 m-0">

    <button (click)="openModal(false)"
            class="mr-3"
            color="primary"
            mat-raised-button>
        Agregar cuenta
    </button>
    <button (click)="openModal(true)"
            [disabled]="selectedRows.length <= 0"
            class="mr-3"
            color="primary"
            mat-raised-button>
        Editar selección
    </button>
    <button (click)="toggleStatus()"
            [disabled]="selectedRows.length <= 0"
            class="mr-3"
            color="warn"
            mat-raised-button>
        {{statusLabelButton}} selección
    </button>
</div>
