<div class="view-container-register">
    <div class="row view-full-register">
        <div *ngIf="!resetPasswordSucces" class="col-md-12">
            <h1 class="title">Restablecer contraseña</h1>
            <form (ngSubmit)="onSubmit()" [formGroup]="forgotPasswordForm">
                <div class="row mb-3">
                    <div class="col-md-6 mt-3">
                        <mat-form-field appearance="outline" floatLabel="always">
                            <mat-label>Ingresa el correo electrónico que registraste</mat-label>
                            <input formControlName="email"
                                   matInput
                                   placeholder="Correo electrónico"
                                   type="email">
                        </mat-form-field>
                        <mat-error *ngIf="f.email.hasError('email') && f.email.touched">
                            Por favor ingresa un correo valido
                        </mat-error>
                        <mat-error *ngIf="f.email.hasError('required') && f.email.touched">
                            Ingresa tu correo
                        </mat-error>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <button color="primary" mat-raised-button style="width: 100%">
                            Enviar
                        </button>
                    </div>
                </div>

                <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
            </form>
        </div>
        <div *ngIf="resetPasswordSucces" class="col-md-12">
            <div class="alert alert-success mt-3 mb-0">
                <h4>Se han enviado instrucciones a tu correo electrónico para que puedas volver a iniciar sesión</h4>
            </div>
        </div>
    </div>
</div>