<div class="col-md-12 mt-3">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span>Administrar pedidos</span>
            <span class="toolbar-spacer"></span>
            <button (click)="reloadData()" aria-label="Refrescar info" mat-icon-button>
                <mat-icon>refresh</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
</div>
<div class="col-md-12">
    <ag-grid-angular (gridReady)="onGridReady($event)"
                     (rowClicked)="goToOrderDetail($event)"
                     [columnDefs]="columDefs"
                     [gridOptions]="gridOptions"
                     [localeText]="localeText"
                     [singleClickEdit]="true"
                     [suppressRowClickSelection]="true"
                     class="ag-theme-balham"
                     style="width: 100%;"
                     [style.height]="gridHeight"
    >
    </ag-grid-angular>
</div>
<div class="row p-3 m-0">
    <button (click)="openCheckPaymentDialog()"
            [disabled]="selectedRows.length <= 0"
            class="mr-3"
            color="primary"
            mat-raised-button>
        Ver pago
    </button>

    <button (click)="downloadReport()"
            [disabled]="selectedRows.length <= 0"
            class="mr-3"
            color="primary"
            mat-raised-button>
        Generar reporte
    </button>

    <button (click)="openChangeStatusOrderDialog()"
            [disabled]="selectedRows.length <= 0"
            class="mr-3"
            color="primary"
            mat-raised-button>
        Cambiar estado
    </button>
</div>
